ion-toolbar {
    //height: 8vh;
    --background: var(--ion-color-tertiary);
    color: #fff;

    .tolbar-title {
        display: flex !important;
        padding: 5%;
        padding-bottom: 2%;

        color: var(--ion-color-primary);

        ion-icon {
            font-size: 1.5em;
            font-weight: 800;
        }

        .letter {
            font-size: 1em;
            font-weight: 800;
        }
    }
}

.searchs-inputs {
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    p {
        color: var(--ion-color-primary);
        font-size: .8em;
    }
    .select-inputs {
        //background-color: red;
        font-size: .8em;

        ion-label {
            color: var(--ion-color-primary);
        }

        ion-item {
            border: 1px solid #BEBEBE;
            margin-top: 1%;
            height: 4.5vh !important;
            font-size: 1em;
        }
    }

    .normal-inputs {
        //background-color: red;
        font-size: .8em;

        ion-label {
            color: var(--ion-color-primary);
        }

        ion-item {
            border: 1px solid #BEBEBE;
            margin-top: 1%;
            height: 4.5vh !important;
            font-size: 1em;
        }
    }
}

.cotizacion {
    h3 {
        color: var(--ion-color-primary);
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        padding: 4%;
    }
}

.tabla {
    margin-left: 8%;
    margin-right: 8%;
    padding: 3%;
    border: 1px solid var(--ion-color-lines);
}

.table-data {
    width: 100%;

    .cabecera {
        color: var(--ion-color-lines);
        font-size: .9em;
        font-weight: 600;

    }

    .data {
        //border: 1px solid gray;

        .type-content {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--ion-color-lines);
            margin: 5%;
            height: 10vh;
            color: var(--ion-color-lines);
            //box-shadow: inset 0px 3px 6px #00000029;
        }

        .value-content {
            height: 10vh;
            display: flex;

            flex-direction: column;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;

            span {
                padding: 10%;
                font-weight: 600;
                font-size: .8em;
                color: var(--ion-color-lines);
            }

            ion-item {
                box-shadow: inset 0px 3px 6px #00000029 !important;
                margin: 0;
                padding: 0;
                height: 4vh;

            }

            ion-select {
                width: 100%;
                background-color: white !important;
                box-shadow: inset 0px 3px 6px #00000029 !important;
            }

        }

    }
}

.options-checkboxs {
    padding-top: 5%;
    font-size: .9em;
    color: var(--ion-color-lines);
}

.precios {
    padding-top: 5%;
}

.grabar-button {
    width: 100%;
}

.scan-input {
    padding-top: 5%;
    padding-bottom: 5%;

    

    .buscar {

        height: 100%;
        padding: 0;
        width: 100%;
        //border-radius: 10px;
        --background: var(--ion-color-primary);

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100% !important;
            text-align: center;

            ion-icon {
                font-size: 3em;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
                color: white;
                width: 100% !important;
            }
        }
    }
}
.actions {
    padding: 5%;
   
    p {
        font-size: .8em;
        color: var(--ion-color-primary);
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
            background-color: white;
            border-radius: 50%;
            padding: 2%;
            margin-left: 5%;
            box-shadow: 0px 3px 6px #00000029;
            ion-icon {
                font-size: 2em;
                color: var(--ion-color-primary);
            }
        }
    }
}