<ion-toolbar>
  <div class="tolbar-title" (click)="exit_menu()">
    <div class="global-center">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div class="letter global-center">
      ATENCIÓN AL CLIENTE
    </div>
  </div>
</ion-toolbar>

<ion-grid>
  <ion-row class="searchs-inputs">
    <ion-col [size]="item.col" *ngFor="let item of value_searchs">
      <div *ngIf="item.type_input == 'select'" class="select-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of documents" [value]="d.codigo">{{d.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="item.type_input == 'normal'" class="normal-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-input [(ngModel)]="item.value"> </ion-input>
        </ion-item>
      </div>

      <div *ngIf="item.type_input == 'date'" class="normal-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-input type="date" name="date_of_birth"> </ion-input>
        </ion-item>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="cotizacion">
  <h3> Cotización </h3>

  <ion-grid class="tabla" *ngIf="searched_pacient">
    <table class="table-data">
      <!-- Cabecera de la tabla -->
      <thead class="cabecera">
        <tr>
          <th style="width: 12%;text-align: center;color: transparent;">- </th>
          <th style="width: 16%;text-align: center;color: transparent;">- </th>
          <th style="width: 12%;text-align: center;">ESFERA</th>
          <th style="width: 12%;text-align: center;">CILINDRO</th>
          <th style="width: 12%;text-align: center;">EJE</th>
          <th style="width: 12%;text-align: center;">PRISMA</th>
          <th style="width: 12%;text-align: center;">AV</th>
          <th style="width: 12%;text-align: center;">DIP</th>
        </tr>
      </thead>

      <tbody class="data">
        <!-- LEJOS -->
        <tr>
          <td>
            <div class="type-content">
              LEJOS
            </div>
          </td>
          <td>
            <div class="value-content">
              <span>DERECHO</span>
              <span>IZQUIERDO</span>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lesferaOD"></ion-input>
             

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lesferaOI"></ion-input>

            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lcilindroOD"></ion-input>
            
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lcilindroOI"></ion-input>
              
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lejeOD"></ion-input>
            

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lejeOI"></ion-input>
            
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lprismaOD"></ion-input>
         
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lprismaOI"></ion-input>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lavod"></ion-input>
        

              <div>
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.lavoi"></ion-input>
              

              </div>
            </div>
          </td>
          <td>
            <div class="type-content1">
              {{ date_user.ultimaMedicion.ldipod}}
            </div>
          </td>
        </tr>
        <!-- INTERMEDIO -->
        <tr>
          <td>
            <div class="type-content">
              INTERMEDIO
            </div>
          </td>
          <td>
            <div class="value-content">
              <span>DERECHO</span>
              <span>IZQUIERDO</span>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iesferaOD"></ion-input>
             

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iesferaOI"></ion-input>

            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.icilindroOD"></ion-input>
            
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.icilindroOI"></ion-input>
              
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iejeOD"></ion-input>
            

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iejeOI"></ion-input>
            
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iprismaOD"></ion-input>
         
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iprismaOI"></ion-input>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iavod"></ion-input>
        

              <div>
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.iavoi"></ion-input>
              

              </div>
            </div>
          </td>
          <td>
            <div class="type-content1">
              {{ date_user.ultimaMedicion.idipod}}
            </div>
          </td>
        </tr>

        <!-- CERCA -->
        <tr>
          <td>
            <div class="type-content">
              CERCA
            </div>
          </td>
          <td>
            <div class="value-content">
              <span>DERECHO</span>
              <span>IZQUIERDO</span>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cesferaOD"></ion-input>
             

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cesferaOI"></ion-input>

            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.ccilindroOD"></ion-input>
            
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.ccilindroOI"></ion-input>
              
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cejeOD"></ion-input>
            

              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cejeOI"></ion-input>
            
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cprismaOD"></ion-input>
         
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cprismaOI"></ion-input>
            </div>
          </td>
          <td>
            <div class="value-content">
              <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cavod"></ion-input>
        

              <div>
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cavoi"></ion-input>
              

              </div>
            </div>
          </td>
          <td>
            <div class="type-content1">
              {{ date_user.ultimaMedicion.cdipod}}
            </div>
          </td>
        </tr>

          <!-- CERCA -->
          <tr>
            <td>
              <div class="type-content">
                LENTES DE CONTACTO
              </div>
            </td>
            <td>
              <div class="value-content">
                <span>DERECHO</span>
                <span>IZQUIERDO</span>
              </div>
            </td>
            <td>
              <div class="value-content">
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cesferaOD"></ion-input>
               
  
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cesferaOI"></ion-input>
  
              </div>
            </td>
            <td>
              <div class="value-content">
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.ccilindroOD"></ion-input>
              
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.ccilindroOI"></ion-input>
                
              </div>
            </td>
            <td>
              <div class="value-content">
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cejeOD"></ion-input>
              
  
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cejeOI"></ion-input>
              
              </div>
            </td>
            <td>
              <div class="value-content">
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cprismaOD"></ion-input>
           
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cprismaOI"></ion-input>
              </div>
            </td>
            <td>
              <div class="value-content">
                <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cavod"></ion-input>
          
  
                <div>
                  <ion-input placeholder="+0.00" [(ngModel)]="date_user.ultimaMedicion.cavoi"></ion-input>
                
  
                </div>
              </div>
            </td>
            <td>
              <div class="type-content1">
                {{ date_user.ultimaMedicion.cdipod}}
              </div>
            </td>
          </tr>

      </tbody>
    </table>
    <ion-grid class="options-checkboxs">
      <ion-row>
        <!--  <ion-col size="4" class="">
          <ion-label>Lente para un solo ojo: </ion-label>
        </ion-col> -->
        <ion-col [size]="item.col" class="" *ngFor="let item of option_checkboxs">
          <ion-checkbox labelPlacement="end"> {{item.text}}</ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>


</ion-grid>

<br><br>

<ion-grid *ngIf="boolDetail">
  <ion-row class="searchs-inputs">
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Familia </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectFamiliar" >{{d?.descripcionLocal}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Material </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectMaterial" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Diseño </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectDisegnos" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Tratamientos </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectTratamientos" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Gama </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectGama" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Antireflejos </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectAntireflejos" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Tecnologia </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectTecnologia" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6" >
      <div class="select-inputs">
        <ion-label> Obsequio </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of this.selectObsequio" >{{d.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>

    <!-- <ion-col [size]="item.col" *ngFor="let item of detail_lente">
      <div *ngIf="item.type_input == 'select'" class="select-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-select slot="end">
            <ion-select-option *ngFor="let d of item.data" >{{d.caracteristicaTipo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="item.type_input == 'normal'" class="normal-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-input> </ion-input>
        </ion-item>
      </div>

      <div *ngIf="item.type_input == 'date'" class="normal-inputs">
        <ion-label> {{item.label}} </ion-label>
        <ion-item>
          <ion-input type="date" name="date_of_birth"> </ion-input>
        </ion-item>
      </div>

    </ion-col> -->
  </ion-row>
</ion-grid>

<ion-grid class="precios">
  <ion-row class="searchs-inputs">
    <ion-col size="3">
      <div class="normal-inputs">
        <ion-label> Precio de venta </ion-label>
        <ion-item>
          <ion-input> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="normal-inputs">
        <ion-label> Descuento </ion-label>
        <ion-item>
          <ion-input> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="normal-inputs">
        <ion-label style="color: transparent;"> - </ion-label>
        <ion-button color="success" class="grabar-button"> GRABAR </ion-button>
      </div>

    </ion-col>
    <ion-col size="3">
      <div class="normal-inputs">
        <ion-label style="color: transparent;"> - </ion-label>
        <ion-button color="success" fill="outline" class="grabar-button"> LIMPIAR </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf=" imageData" style="padding: 2%;">
  <img [src]="'data:image/jpeg;base64,' + imageData" alt="Imagen tomada">
</div>
<ion-grid class="scan-input">
  <ion-row class="searchs-inputs">
    <ion-col size="12"><p>Producto por código</p></ion-col>
    <ion-col size="2">
      <ion-button  color="primary" (click)="takePicture()" class="grabar-button"> SCAN </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary" fill="outline" class="grabar-button"> AGREGAR </ion-button>
    </ion-col>
    <ion-col size="7">
      <!-- <ion-searchbar class="buscador" show-cancel-button="always" placeholder="MONTURA   M061124   000010190   ADRIANA ROTH   101106  CELESTE DORADO"></ion-searchbar> -->
      <ion-item>
        <ion-input  class="normal-inputs"  placeholder="MONTURA   M061124   000010190   ADRIANA ROTH   101106  CELESTE DORADO"> </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="1">
      <ion-item class="buscar" (click)="openModal()">
        <div class="global-center">

          <ion-icon name="search"></ion-icon>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid class="precios">
  <ion-row class="searchs-inputs">
    <ion-col size="2">
      <div class="normal-inputs">
        <ion-label> Cantidad </ion-label>
        <ion-item>
          <ion-input placeholder="1.00"> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="normal-inputs">
        <ion-label> 1 </ion-label>
        <ion-item>
          <ion-input placeholder="MONTURA   M061124   000010190   ADRIANA ROTH   101106  CELESTE DORADO"> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="normal-inputs">
        <ion-label> P.Venta </ion-label>
        <ion-item>
          <ion-input placeholder="72.00"> </ion-input>
        </ion-item>
      </div>

    </ion-col>
    
  </ion-row>
</ion-grid>

<ion-grid class="precios">
  <ion-row class="searchs-inputs">
    <ion-col size="4">
      <div class="normal-inputs">
        <ion-label> Adelanto </ion-label>
        <ion-item>
          <ion-input placeholder="100"> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="normal-inputs">
        <ion-label> Saldo </ion-label>
        <ion-item>
          <ion-input placeholder="64.00"> </ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="normal-inputs">
        <ion-label> Costo Total </ion-label>
        <ion-item>
          <ion-input placeholder="164.00"> </ion-input>
        </ion-item>
      </div>

    </ion-col>    
  </ion-row>
</ion-grid>


<ion-grid class="actions">
  <ion-row >
    <ion-col size="2">
      <p>Acción:</p>
    </ion-col>
    <ion-col size="8" class="icons">
      <div class="circle global-center">
        <ion-icon name="save"></ion-icon>
      </div>
      <div class="circle global-center">
        <ion-icon name="mail"></ion-icon>
      </div>
      <div class="circle global-center">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </div>
      <div class="circle global-center">
        <ion-icon name="document"></ion-icon>
      </div>
      <div class="circle global-center">
        <ion-icon (click)="openModalDetailRegister()" name="eye"></ion-icon>
      </div>
    </ion-col>
    
  </ion-row>
  
 
  
</ion-grid>




