ion-content {
    background-color: var(--ion-color-primary);
    //background-color: #337CCF;
    font-family: 'Poppins', sans-serif;
    --background: var(--ion-color-primary);
}


.container-logo {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 10vh;
    }
}

ion-list {
    background-color: var(--ion-color-primary);
    margin-top: 20vh;
   
}

.mensaje-cabecera {
    font-size: 1em;
    padding: 5% 5%;
    color: white;
    text-align: center;
}


.container-login {
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    ion-button {
        --background:var(--ion-color-secondary);
        //margin-top: 20px !important;
        height: 6vh;
        width: 100%;
        --border-radius: 0;
        font-size: 1em;
        text-transform: capitalize;

    }
}

.container-register {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    ion-button {
        --background:var(--ion-color-secondary);
        height: 55px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
}


.container-recovery {
    padding-top: 20%;
    text-align: center ;
    

    p {
        color: white;
        
    }
}

.input-normal {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    ion-label.labelLogin {
        color: black;
        font-size: 1em;
        font-weight: bold;
    }
    ion-input.inputLogin {
        color: #17A0B9;
        border-radius: 10px;
        font-size: 12px;
    }
}


.input-pasword {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    ion-icon.eyePass {
        padding-top: 8px;
        
    }

    ion-label.labelLogin {
        color: black;
        font-size: .9em;
        font-weight: bold;

    }

    ion-input.inputLogin {
        border-radius: 10px;
        font-size: 12px;
    }
}