<ion-content [fullscreen]="true" class="ion-padding reduce">
  <div class="containerIcon">
    <img src="" alt="">
  </div>
  <h3>Ingresa tus credenciales para ingresar</h3>
  <form action="" class="formularioContainer">
    <ion-item>
      <ion-input type="text" label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
      <ion-button expand="block" (click)="goToHome()">
        LOGIN
      </ion-button>

      <ion-button fill="clear">
        RECUPERAR CONTRASEÑA
      </ion-button>
  </form>
</ion-content>