<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button >
        <img src="../../../assets/icono.svg" alt="">
      </ion-button>
    </ion-buttons>
    <ion-title>Optometría medidas</ion-title>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-avatar>
          <img src="../../../assets/avatar.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerSearch">
    <form action="">
      <ion-list>
        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-input label="Tipo documento" label-placement="floating" fill="outline"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-input label="N° Documento" label-placement="floating" fill="outline" [counter]="true" maxlength="8"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="searchPatient()">
              Buscar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </div>
  <div class="containerMedidas">

  </div>
  <h2>optometra</h2>
</ion-content>