<ion-header>
  <ion-toolbar>
    <div class="container ">

      <div class="left-title" routerLink="/home">
        <div class="tolbar-title">
          <img src="./assets/icono.svg" alt="">
          <div class="letter global-center">
            Optica<br> Precisión
          </div>
        </div>
      </div>

      <div class="right-title">
        <ion-avatar>
          <div class="global-center">

            <ion-img class="user-icon" src="./assets/avatar.png"></ion-img>
          </div>
          <div class="global-center">
            <ion-icon class="notification" name="notifications-outline"></ion-icon>
          </div>
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <router-outlet></router-outlet>
</ion-content>