<ion-content>
  <ion-row>
    <ion-col size="6">
      <div class="containerOption">
        <h3>Optometra</h3>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="containerOption">
        <h3>Vendedora</h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>