ion-content{
    --background:#F2F3F5;
}
ion-header{
    ion-toolbar{
        --background: #191D88;
        color:#fff;
    }
    height: 70px;
    ion-button{
        height: 70px;
    }
}
.containerOptions{
    display: flex;
    width:80vw;
}
.containerOption{
    margin-top:5vh;
    background: #ffffff;
    height:40vh;
    width: 90%;
    margin-left:5%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(158,150,158,1);
    -moz-box-shadow: 3px 4px 14px 0px rgba(158,150,158,1);
    box-shadow: 3px 4px 14px 0px rgba(158,150,158,1);
    :hover{
        background-color: #0A6EBD;
        color:#fff;
    } 
    h3{
        text-align: center;
        color:#337CCF;
        font-size: 2.2em;
    }
}
ion-card{
    ion-avatar{
        width:80px;
        height: 80px;
    }
}

