ion-row {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;

    ion-col {
        padding: 4%;

        .options-6 {
            //padding: 10%;
            height: 35vh;
            box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            -webkit-box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            -moz-box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            background: white;
            width: 100%;
            border-radius: 12px;
            img {
                height: 6vh;
            }

            h3 {
                font-size: 1.2em;
                font-weight: 600;
                color: var(--ion-color-primary);
                text-align: center;
            }
        }

        .options-12 {
            /* padding-top: 2%;
                padding-bottom: 2%; */
            height: 15vh;
            border-radius: 12px;
            box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            -webkit-box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            -moz-box-shadow: 10px 10px 9px 0px rgba(194, 181, 181, 0.59);
            background: white;
            width: 100%;

            img {
                height: 6vh;
            }

            h3 {
                font-size: 1.2em;
                font-weight: 600;
                color: var(--ion-color-primary);
                text-align: center;
            }
        }
    }
}

.version {
    font-size: .7em;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

/* ion-content{
    --background:#F2F3F5;
}
ion-header{
    ion-toolbar{
        --background: #191D88;
        color:#fff;
    }
    height: 70px;
    ion-button{
        height: 70px;
    }
}
.containerOptions{
    display: flex;
    width:80vw;
}
.containerOption{
    margin-top:5vh;
    background: #ffffff;
    height:40vh;
    width: 90%;
    margin-left:5%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
    -webkit-box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
    -moz-box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
    :hover{
        background-color: #0A6EBD;
        color:#fff;
    } 
    h3{
        text-align: center;
        color:#337CCF;
        font-size: 2.2em;
    }
}
.containerOptionTwo{
    margin-top:1vh;
    background: #ffffff;
    height:20vh;
    width: 80%;
    margin-left:10%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
-webkit-box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
-moz-box-shadow: 10px 10px 9px 0px rgba(194,181,181,0.59);
    :hover{
        background-color: #0A6EBD;
        color:#fff;
    } 
    h3{
        text-align: center;
        color:#337CCF;
        font-size: 2.2em;
    }
}
ion-card{
    ion-avatar{
        width:80px;
        height: 80px;
    }
}
.version{
    text-align: center;
    color:grey;
    margin-top:100px;
}

 */