<ion-header>
  <ion-toolbar>
    <ion-title>Optica Precisión</ion-title>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-avatar>
          <img src="../../../assets/avatar.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="10" offset="1" class="containerOptions">
      <ion-col size="6" (click)="goToOptometra()">
        <div class="containerOption">
          <img src="../../../assets/opto.svg" alt="">
          <h3>Optometra</h3>
        </div>
      </ion-col>
      <ion-col size="6" (click)="goToVendedor()">
        <div class="containerOption">
          <img src="../../../assets/venta.svg" alt="">
          <h3>Vendedora</h3>
        </div>
      </ion-col>
    </ion-col>
    <ion-col>
      <ion-col size="6" (click)="goToVentas()">
        <div class="containerOptionTwo">
          <img src="../../../assets/ventadia.svg" alt="">
          <h3>Ventas del día</h3>
        </div>
      </ion-col>
    </ion-col>
  </ion-row>
 <!--  <div>
    <ion-row>
      <ion-col size="9">
        <ion-input type="text" label="Busca Usuario" labelPlacement="floating"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </div> -->
 <!--  <ion-row>
    <ion-col size="12">
      <ion-list>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
      </ion-list>
    </ion-col>
  </ion-row> -->

  <p class="version">Royal Consulting v1.0.0</p>
</ion-content>