


  <ion-row>
    <ion-col size="6" (click)="goToOptometra()">
      <div class="options-6 global-center">
        <div>
          <div class="global-center">
            <img src="./assets/opto.svg" alt="">
          </div>
          <h3>Optometría</h3>
        </div>
      </div>
    </ion-col>

    <ion-col size="6" (click)="goToVentas()">
      <div class="options-6 global-center">
        <div>
          <div class="global-center">
            <img src="./assets/venta.svg" alt="">
          </div>
          <h3>Ventas</h3>
        </div>
      </div>
    </ion-col>

    <ion-col size="12" (click)="goToVendedor()">
      <div class="options-12 global-center">
        <div>
          <div class="global-center">
            <img src="./assets/ventadia.svg" alt="">
          </div>
          <h3>Ventas del día</h3>
        </div>
      </div>
    </ion-col>
    <!-- <ion-col size="6" (click)="goToVendedor()" class="options-6">
      <div>
        <img src="./assets/venta.svg" alt="">
        <h3>Vendedora</h3>
      </div>
    </ion-col>


    <ion-col size="12" (click)="goToVentas()" class="options-6">
      <div>
        <img src="./assets/ventadia.svg" alt="">
        <h3>Ventas del día</h3>
      </div>
    </ion-col> -->

  </ion-row>
  <!--  <div>
    <ion-row>
      <ion-col size="9">
        <ion-input type="text" label="Busca Usuario" labelPlacement="floating"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </div> -->
  <!--  <ion-row>
    <ion-col size="12">
      <ion-list>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card>
            <ion-row>
              <ion-col size="3">
                <ion-avatar><img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt=""></ion-avatar>
              </ion-col>
              <ion-col size="9">
                <h1>Nombre Usuario atendido</h1>
                <p>Producto adquirido</p>
                <h6>Estatus: Pendiente entrega</h6> <span>Monto pendiente:S/ 450</span>  
              </ion-col>
            </ion-row>
          </ion-card>
      </ion-list>
    </ion-col>
  </ion-row> -->

  <p class="version">Royal Consulting v1.0.0</p>
